/********** SHARED **********/
body {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.nav {
    height: 70px;
    width: 2000px;
    font-size: 16px;
    color: #ece6ec;
    background-color: #400040;
    padding-top: 20px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 3px 5px #888888;
}

.items {
    display: inline;
    border: 1px solid #ece6ec;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 20px  
}

#current {
    background-color: #ece6ec;
    color: #400040;
    border-color: #400040;
    opacity: 0.9
}

.nav a {
    text-decoration: none;
    color: #ece6ec        
}

#nav-img {
    padding-top: 100px;
    height: 250px;
    width: 250px;
    margin:auto;
}

#border p {
    margin-top: 100px;
    text-align: center;
    color: #400040;
    opacity: 0.8;
}

.footer {
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
}


/********** HOME **********/

.home-header {
    background-position: center;
    margin-left:: -150px;
    height: 300px;
    position: relative;
    overflow: hidden
}

.home-nav {
    font-size: 18px;
    overflow: hidden;
    text-align: left;
}

.home-nav ul {
    padding-right: 68px;
    background-color: #400040;
    padding-left: 90px;
    height: 60px;
    padding-top: 20px;
    position: relative;
    opacity: 0.9
}

.home-nav a {
    text-decoration: none;
    color: #ece6ec;
}

.sticky-nav {
    background-color: white;
}

.home-items {
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
    opacity: 1;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#background {
    position: relative;
    padding:0;
    top:0;
    left:0;
    z-index:-1;
    margin-bottom: 40px;
}

.container {
    position: relative;
}

#des {
    position: relative; 
    margin-top: 560px;
    font-size: 20px;
    text-align: center;
}

#background img {
    margin-top: 70px;
    margin-bottom: 70px;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    overflow: hidden;
    z-index:1
}

#background img.active{
    z-index:3;
    margin-bottom: 2px
}

.col-sm-6 {
    text-align: center;
}

.hm-img {
    height: 250px;
}

.footer {
    text-align: center;
}


.bar-dec {
    background-color: #400040;
    height: 27px;
    opacity: 0.6;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 55px;
    margin-bottom: 20px;
}

.prj {
    text-align: center;
    padding: 18px;
}

figure {
    padding: 20px;
}

.des-projects {
    color: #400040;
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #400040;
}


.entry {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

#home-ftr {
    position: relative
}

.navs {
    padding-top: 60px;
}

.full {
    background-color: #ece6ec;
    padding: 10px;
    text-align: center;
}

.contacts {
    text-align: center;
    font-size: 20px;
    margin-top: -40px;
}

/********** ABOUT *********/

.photo {
    background-image: url("images/profilePic.jpg");
    height: 310px;
    width: 210px;
    margin: auto;
    border-radius: 13px
}

.photo2 {
    background-image: url("images/profilePic2.jpg");
    height: 310px;
    width: 210px;
    margin: auto;
    border-radius: 20%;
    opacity: 0.9
}

.photo3 {
    background-image: url("images/profilePic3.jpg");
    height: 310px;
    width: 210px;
    margin: auto;
    border-radius: 13px
}


.abt-description h4 {
    text-align: center;
    color: #400040;
    margin-top: 60px;
    margin-bottom: 60px;
}

.abt-description h4 {
    text-align: center
}

.abt-description p {
    color: #400040;
    text-align: center;
    text-indent: 50px;
    padding-bottom: 40px;
}

/********** PROJECTS **********/

.prj-img {  
    margin-top: 30px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #400040;
}


.prj-img h3 {
    color: purple;
}

.line {
    height: 550px;
}

.prj-footer {
    height: 10px;
    margin-bottom: 8px;
}

/********** LINKS **********/
.col-sm-4 {
    margin:auto
}

.links-body {
    margin-top: 20px;
    color: #fff;
    height: 400px;
}

.lnks-ftr {
    margin-top: 150px;
    margin-bottom: 0px;
}

#prj-footer {
    margin-top: 500px;
}

/************ BLOG ************/

.blog {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #400040;
    font-size: 16px;
}

.blog a {
    text-decoration: none;
    color: #400040;
}

.blog-text {
    text-align: center;
    color: #400040;
}

.blog-text a {
    text-decoration: none;
    color: #400040;
}

/******** CONTACT INFO ********/
.monitor {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    background-color: #ece6ec;
    text-align: center;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 100px;
}

form {
    width: 670px;
    margin:auto;
    align-content: center;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    background-color: #ece6ec;
    padding: 20px;
}

input[type=text] {
    border: 1.3px solid #400040;
    border-radius: 6px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=submit] {
    border-radius 6px;
    background-color: #ece6ec;
    border: 1px solid #400040
    
}


textarea {
    height: 50px;
    padding-top: 2px;
    border-radius: 6px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1.3px solid #400040;
    height: 100px;
}
