/********** SHARED **********/
body {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.nav {
    height: 70px;
    width: 2000px;
    font-size: 16px;
    color: #ece6ec;
    background-color: #400040;
    padding-top: 20px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 3px 5px #888888;
}

.items {
    display: inline;
    border: 1px solid #ece6ec;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 20px  
}

#current {
    background-color: #ece6ec;
    color: #400040;
    border-color: #400040;
    opacity: 0.9
}

.nav a {
    text-decoration: none;
    color: #ece6ec        
}

#nav-img {
    padding-top: 100px;
    height: 250px;
    width: 250px;
    margin:auto;
}

#border p {
    margin-top: 100px;
    text-align: center;
    color: #400040;
    opacity: 0.8;
}

.footer {
    background-color: #ece6ec;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

/********** HOME **********/
.home-nav {
    height: 100px;
    font-size: 16px;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    padding-top: 40px;
}

.home-header {
    height:270px;
    background-image: url(images/header..png);
    background-position: center;
    margin-top: -50px;
    margin-right: auto;
    opacity: 0.9
}
.home-nav ul {
    padding-right: 68px;
    background-color: #400040;
    opacity: 0.6;
    padding-left: 90px;
    height: 30px;
    padding-top: 5px;
    margin-top: 10px;
}

.title-pg {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.Jess {
    margin-right: auto;
    margin-top: 70px;
    margin-left: -11 px;

}

.home-nav a {
    text-decoration: none;
    color: #ece6ec;
}

.home-items {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 1;
}

.jumbotron {
    background-image:url('images/jumbotron.jpg');
    background-repeat: no-repeat;
    height: 700px;
    margin: auto;
    position: relative;
    box-shadow: 0px 3px 5px #888888;
}

#background {
    padding:0;
    margin-top: 220px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1
}

#background img {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:1
}

#background img.active{
    z-index:3
}

.jumbotron h3 {
    color: #351935;
    font-size: 32px;  
    text-align: center;
}

.description {
    font-size: 13px;
    height: 130px;
    color: #400040;
    text-align: center;
    padding: 30px;
    margin-bottom: 4px
}

.links {
    opacity: 0.8;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #400040;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    height: 100px;
    margin-top: 20px;
    margin-right: auto;
}

.link-img {
    position: relative;
    overflow: hidden;
    margin-top: 10px; 
    opacity: 0.8;
}


.footer {
    text-align: center;
}

.description a {
    text-decoration: underline;
    color: #400040;
}

.bar-dec {
    background-color: #400040;
    height: 27px;
    opacity: 0.6;
    margin-top: 20px;
    
}

.boxes {
    margin-top: 525px;
    height: 520px;
}

.links a{
    text-decoration: none;
    color: #400040;
}

/********** ABOUT *********/

.photo {
    background-image: url("images/profilePic.jpg");
    height: 310px;
    width: 210px;
    margin: auto;
    border-radius: 13px
}

.photo2 {
    background-image: url("images/profilepic2.jpg");
    height: 310px;
    width: 210px;
    margin: auto;
    border-radius: 20%;
    opacity: 0.9
}

.photo3 {
    background-image: url("images/profilepic3.jpg");
    height: 310px;
    width: 210px;
    margin: auto;
    border-radius: 13px
}


.abt-description h3 {
    font-size: 26px;
    text-align: center;
    color: #400040
}

.abt-description h4 {
    text-align: center
}

.abt-description p {
    color: #400040;
    text-align: center;
    text-indent: 50px;
    padding-bottom: 40px;
}

/********** PROJECTS **********/

.prj-img {    
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
        
}
/********** LINKS **********/
.col-sm-4 {
    margin:auto
}

.links-body {
    margin-top: 120px;
    color: #fff;
    height: 600px;
}

#prj-footer {
    margin-top: 500px;
}

/************ BLOG ************/

.blog {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #400040;
    font-size: 16px;
}

.blog a {
    text-decoration: none;
    color: #400040;
}

.blog-text {
    text-align: center;
    color: #400040;
}

.blog-text a {
    text-decoration: none;
    color: #400040;
}

/******** CONTACT INFO ********/
.monitor {
    background-image: url("images/monitor.jpg");
    height: 600px;
    width: 525px;
    margin: auto;
    padding-top: 90px;
    text-align: center;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.monitor h2 {
    color: #400040;
    
}

.monitor p {
    font-size: 20px;
    color: #400040;
    opacity: 0.7
}

.email-form {
    padding-top: 40px;
    background-color: #ece6ec;
    margin-bottom: 20px;
    padding-bottom: 20px
}

.email-font {
    font-size: 25px;
    text-align: center;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #400040;
}

form {
    width: 670px;
    margin:auto;
    align-content: center;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    background-color: #ece6ec;
}

input[type=text] {
    border: 1.3px solid #400040;
    border-radius: 6px;
    padding-left: 10px;
    margin-left: 10px
}

input[type=submit] {
    border-radius 6px;
    background-color: #ece6ec;
    border: 1px solid #400040
    
}

input[type=reset] {
    border-radius 6px;
    background-color: #ece6ec;
    border: 1px solid #400040
    
}

textarea {
    height: 50px;
    padding-top: 2px;
    border-radius: 6px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1.3px solid #400040;
    height: 100px;
}
